@import 'variables.scss';

.topnav {
    background: $primary-blue-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $pure-white;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            margin: 0 0.5rem;
            list-style: none;
            font-size: 12px;
            font-weight: 300;
            color: $light-gray;
        }
    }
}
 
.sidenav {
    background: $background-color;
    ul {
        padding: 2px;

        li {
            list-style: none;
            margin: 0;
            color: $light-gray;
            font-weight: 500;
            font-size: 0.7rem;
            display: flex;
            align-items: center;
            margin-bottom: 0.8rem;
            cursor: pointer;

            i {
                margin-right: 0.6rem;
                align-items: center;
                font-size: 1rem;
            }
        }
    }
    p {
        margin: 0;
        padding: 0;
        font-size: 0.7rem;
        font-weight: 600;
    }
    .iso {
        color: $tertiary-blue-color;

        i {
            color: $secondary-blue-color;
        }
    }
    
}
.content {
    flex: 0.9;
    padding: 10px;   
}


.formitem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;

    label {
        flex: 0.3;
        text-align: right;
        margin-right: 10px;
    }
    input {
        flex: 0.7;
        padding: 0.7rem;
        border: transparent;
        border-radius: 5px;
        background: #eff3f6;
        color: $light-gray;
        // height: 5px;
    }

    input:focus {
        outline: none;
        border: 1px solid $light-gray-200;
        background: $pure-white;
        margin: 0;
    }
    ::placeholder {
        color: $light-gray;
        font-size: 15px;
    }
    select {
        margin: 0;
        flex: 0.7;
        padding: 0.7rem;
        border: transparent;
        border-radius: 5px;
        background: #eff3f6;
        color: $light-gray;
    }
    select:focus {
        outline: none;
        border: 1px solid $light-gray;
        background: $pure-white;
    }
}
.btnprimary {
    background: $secondary-blue-color;
    color: $pure-white;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 2px;
}
button:focus {
    outline: none;
}

@media only screen and (min-width: 46.875em){
    
  }
